html, body {
  margin: 0;
  padding: 0;
}

.breakbutton{
  width:80px;
  height:80px;
  border-radius:20px;
  border:none;
  outline:none;
  background:rgba(0, 0,0, 0.3);
  background-image:url('assets/axe.png');
  backdrop-filter:blur(10px);
  background-size:cover;
  cursor:pointer;
}